
<div class="row">
    <div class="col-sm-4">
        <div class="card">
          <div style="background-color:cornflowerblue;" class="card-body">
             <h1>card 1</h1>
          </div>
        </div>
      </div>
    <div class="col-sm-4">
      <div class="card">
        <div style="background-color: blueviolet;" class="card-body">
           <h1>card 2</h1>
        </div>
      </div>
    </div>
     <div class="col-sm-4">
      <div class="card">
        <div style="background-color:chartreuse;" class="card-body">
           <h1>card 3</h1>
        </div>
      </div>
    </div>
  </div>

<div style="margin-top: 40px;" class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
            <app-areachart></app-areachart> 
        </div>
      </div>
    </div>
     <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
            <app-barchart>
            </app-barchart>
        </div>
      </div>
    </div>
  </div>

  <div style="margin-top: 40px;">
    <app-defaulttable></app-defaulttable>
  </div>
